# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*
images/전동킥보드 탑승
images/5사+기타 전동킥보드
images/helmet
data/교통사고 데이터
data/교통 데이터
data/서울시 격자 인구 데이터
data/서울시 시설 데이터
paper
images/전동킥보드 탑승.zip
